
@{
    ViewBag.Title = "IndexEs5AndEs6";
}

<h2>IndexEs5AndEs6</h2>

<div id="root">
    <!-- This div's content will be managed by React. -->
</div>

<div id="rootForEs6">
    <!-- This div's content will be managed by React. -->
</div>

<script type="text/babel">
    var Message = React.createClass({
        render: function () {
            return (<h3>Hello, world! 這是 ES5</h3>)
        }
    });

    ReactDOM.render(<Message />, document.getElementById('root'));
</script>

<script type="text/babel">
    class Message extends React.Component {
        render(){
            return (<h3>Hello, world! 這是 ES6</h3>)
            }
        }

    ReactDOM.render(<Message />, document.getElementById('rootForEs6'));
</script>