
@{
    ViewBag.Title = "Index";
}

<h1>React Demo</h1>

<div id="root">
    <!-- This DOM is for react inject.-->
</div>

<script>
    var Message = React.createClass({
        render: function () {
            return (React.createElement("h3", null, "Hello, world!"));
        }
    });

    ReactDOM.render(React.createElement(Message, null), document.getElementById('root'));
</script>
