
@{
    ViewBag.Title = "SyntaxJSX";
}

<h2>SyntaxJSX</h2>

<div id="root"></div>

<script type="text/babel">
    const divStyle = {
        color: 'blue'
    }  

    const userData = {
        firstName: 'Sean',
        lastName: 'Chen'
    }

    function fullName(user) {
        return `${user.firstName} ${user.lastName}`;
    }

    class Message extends React.Component {

        render (props) {

            const { user } = this.props;

            return (<h3>Hello, { fullName(user) }!</h3>);

        }
    }

    ReactDOM.render(
    <div style={divStyle}> <Message user={userData} /> </div>, document.getElementById('root'));
</script>
