
@{
    ViewBag.Title = "SyntaxJSX";
}

<h2>SyntaxJSX</h2>

<div id="root"></div>


<script type="text/babel">
    const divStyle = {
        color: 'blue'
    }

    function fullName(user) {
        return `${user.firstName} ${user.lastName}`; 
    }

    let user = {
        firstName: 'Sean',
        lastName: 'Chen'
    }

    const element = <h3>Hello, { fullName(user) }!</h3>
    ReactDOM.render(<div style={divStyle}>{element}</div>, document.getElementById('root'));
</script>